


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
}

.contact-container {
  background-color: #F0FFE0;
  display: flex;
  flex-direction: row;
  min-height: 50%;
  flex-wrap: wrap;
  padding: 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.contact-info {
  flex: 1;
  background: #4EDC91;
  color: #fff;
  padding: 40px;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.contact-info h1,
.contact-info p {
  margin-bottom: 20px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.contact-list li {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.contact-list a {
  color: white;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.contact-form-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 40px;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
  margin-bottom: 10px;
}

.contact-form button {
  background: #4EDC91;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    padding: 20px 10px;
  }

  .contact-info {
    border-radius: 25px;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
  }

  .contact-form-container {
    width: 100%;
  }

  .contact-form {
    width: 90%;
    border-radius: 25px;
    padding: 30px;
  }

  .social-icons {
    justify-content: center;
    position: static;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .contact-info h1 {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
    padding: 10px 24px;
  }

  .contact-list li {
    font-size: 16px;
  }
}
